:root {
  --primary-orange: hsl(35, 77%, 62%);
  --primary-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --neutral-gblue: hsl(233, 8%, 79%);
  --neutral-dark-gb: hsl(236, 13%, 42%);
  --neutral-dark-blue: hsl(240, 100%, 5%);
  --body-font-size: 0.9375rem;

  --spacer: 1rem;
  --spacer-medium: 2rem;
  --spacer-large: 3rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1;
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

form,
input,
button,
textarea,
select {
  font: inherit;
}
svg,
img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--body-font-size);
  color: var(--clr-primary-900);
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--neutral-dark-blue);
}
h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-orange);
  margin-bottom: 2rem;
}

p {
  line-height: 2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--neutral-off-white);
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: var(--neutral-dark-gb);
  text-decoration: none;
  font-size: 1.2rem;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr 0.9fr;
  gap: var(--spacer-medium);
}

.split {
  display: flex;
}
.split > * {
  width: 100%;
}

.hero-content {
  display: flex;
  gap: var(--spacer-medium);
  grid-column: 1 / span 2;
  grid-row: 2;
}

.hero-content > * {
  width: 100%;
}

.btn-para > p {
  color: var(--neutral-dark-gb);
}
.btn {
  display: inline-block;
  /* width: 50%; */
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  color: var(--neutral-off-white);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background-color: var(--primary-red);
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.sidebar {
  height: auto;
  grid-column: 3;
  grid-row: 1 / span 2;
  padding: 2rem;
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-gblue);
}

.sidebar-element {
  position: relative;
}
.sidebar-element:not(:first-of-type) {
  padding-top: var(--spacer-large);
}

.sidebar-element:not(:first-of-type):before {
  content: "";
  width: 100%;
  border-bottom: solid 1px var(--neutral-dark-gb);
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 1;
}

.hero-img {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.article > * h3 {
  color: var(--neutral-dark-blue);
  font-size: 1rem;
  font-weight: 700;
}
.article {
  gap: var(--spacer);
  margin-top: 2rem;
  color: var(--neutral-dark-gb);
}

.number {
  font-size: 2rem;
  color: var(--neutral-gblue);
}

@media (max-width: 800px) {
  .container {
    max-width: 90%;
    padding: 0.5rem;
  }
  .menu-icon {
    display: block;
  }

  .nav-list {
    display: none;
  }

  #nav.active {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: absolute;
    top: 60px;
    right: 0;
    width: 60%;
    height: 100vh;
    padding-left: 2rem;
    padding-top: 5rem;
    background-color: var(--neutral-off-white);
  }

  .nav-item {
    margin: 1rem 0;
  }

  .main-grid {
    display: block;
  }
  .hero-content {
    flex-direction: column;
    margin: 2rem 0 4rem 0;
  }

  .article > .pic {
    width: 50%;
  }

  div .article:nth-of-type(1) {
    margin-top: 4rem;
  }
  .article1 {
    margin-top: 4rem;
  }
  .article3 {
    margin-bottom: 4rem;
  }
}
